strong {
  font-weight: 400;
}

.epfl-logo {
  width: 90%;
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.background {
  min-height: 512px;
}

.map-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  margin-bottom: 35px;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.talk {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 90%;
  display: flex;
  flex-direction: row;
}

.time {
  margin-right: 20px;
  min-width: fit-content;
}

.abstract {
  padding: 20px 40px 10px 40px;
}

.abstract .meta {
  font-size: 90%;
}

.abstract .body {
  font-size: 75%;
  line-height: 1.7;
  text-align: left;
}

.abstract .body p {
  padding: 0 0 15px 0;
  margin: 0;
}

@media screen and (min-width: 961px) {
  .background {
    min-height: 768px;
  }
}

#logo {
  color: white !important;
}

.fit img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.warning {
  border: 2px solid red;
  color: red !important;
}
.warning h2 strong {
  color: red !important;
}

.disable {
  pointer-events: none;
  opacity: 0.6;
}

.multiline {
  display: flex;
  flex-direction: column;
}

.subtitle {
  margin-left: 20px;
}

h3 {
  font-size: 25px !important;
}

.detail {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 90%;
  display: flex;
  flex-direction: column;
}
.info p {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0;
}

.info {
  display: flex;
  flex-direction: row;
  width: 95%;
}
.marge {
  margin-left: 50px;
}

.detail .time {
  flex-basis: 10%;
}

.speaker {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 20%;
  flex-basis: 20%;
}
.titleDetail {
  margin-bottom: 0;
  font-size: larger;
  font-weight: bold;
}

#overview .container {
  position: relative;
}

.alert {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 160px;
  rotate: 340deg;
  padding: 10px;
  color: red;
  font-weight: bold;
  border: 5px solid red;
}
.alert p {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-size: xx-large;
  font-weight: bold;
}

.zoom {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 140px;
  max-width: 30%;
  margin-left: 20px;
  padding: 5px;
  color: black;
  border: 5px solid black;
  font-size: smaller;
}
.zoom p {
  padding: 0;
  margin: 0;
}
.zoom h1 {
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 900px) {
  .info {
    display: flex;
    flex-direction: row;
    width: 95%;
    flex-wrap: wrap;
    max-width: fit-content;
  }
  .detail .description {
    text-align: left;
    max-width: 90%;
    margin-left: 25px;
  }
  .speaker {
    padding-left: 10px;
    min-width: fit-content;
    flex-basis: 20%;
  }
}

@media screen and (max-width: 1320px) {
  .alert {
    position: static;
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    rotate: 0deg;
    margin-bottom: 20px;
  }
  #overview .container header {
    margin-bottom: 20px;
  }
  .zoom {
    position: static;
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 100%;
  }
  #overview .container header {
    margin-bottom: 20px;
  }
}
