{{ if eq ($.Scratch.Get "detail") "true" }} 
    {{ $path := $.Scratch.Get "path" }}
    {{ range $i, $p := $path }}
            <br>
            <article class="item">
            <header>
                <h3><strong>{{ .date }}</strong></h3>
                {{ range $j, $entry := $p.entries }}
                    <div class="detail">
                        {{ if .title }}
                            <span class="titleDetail">{{ .title }}</span>
                        {{ end }}
                        {{ range $k, $info := $entry.infos }}
                            <div class="info {{ if $entry.title }}marge{{ end }}">
                                {{ if .time }}
                                    <span class="time">{{ .time }}</span>
                                {{ end }}
                                {{ if .speaker }}
                                    <span class="speaker">{{ .speaker }}</span>
                                {{ end }}
                                {{ if .description }}
                                    <span class="{{ if .speaker }}description{{ else }}speaker{{ end }}">{{ .description }}</span>
                                {{ end }}
                            </div>
                        {{ end }}
                    </div>
                {{ end }}
            </header>
            </article>
        </ul>
    {{ end }}
{{ else }}
    <h4>To be announced</h4>
{{ end }}