{{ if eq ($.Scratch.Get "program") "true" }} 
    {{ $path := $.Scratch.Get "path" }}
    {{ range $i, $p := $path }}
            <br>
            <article class="item">
            <header>
                <h3><strong>{{ .date }}</strong></h3>
                {{ range $j, $entry := $p.entries }}
                    <div class="talk">
                        <span class="time">{{ .time }}</span>
                        {{ if .subtitle }}
                            <div class="multiline">
                        {{ end }}
                        <span class="title">
                        {{ if .speaker }}
                            <a href="#talk-{{ $i }}{{ $j }}">{{ .title }}</a>
                        {{ else }}
                            {{ .title }}
                        {{ end }}
                        </span>
                        {{ if .subtitle }}
                                <span class="subtitle">
                                    {{ .subtitle }}
                                </span>
                        </div>
                        {{ end }}
                        {{ if .speaker }}<span class="speaker"> – <a href="#{{ .speaker }}">{{ .speaker }}</a></span>{{ end }}
                        {{ if .slides }}
                            <span>&nbsp;&nbsp;<a class="icon fa-file-o" href="{{ .slides }}"></a></span> 
                        {{ end }}
                        {{ if .video }}
                            <span>&nbsp;&nbsp;<a class="icon fa-youtube-play" href="{{ .video }}"></a></span> 
                        {{ end }}
                    </div>
                {{ end }}
            </header>
            </article>
        </ul>
    {{ end }}
{{ else }}
    <h4>To be announced</h4>
{{ end }}

