<!DOCTYPE html>
<html>
  {{ $config := $.Site.Data.suri2023 }} {{ $year := $config.year }} {{ $dates :=
  $config.dates }} {{ $talks := $config.talks }} {{ $details := $config.details
  }} {{ $speakers := $config.speakers }} {{ $organizers := $config.organizers }}
  {{ $.Scratch.Add "year" $year }} {{ $.Scratch.Add "program" $config.program }}
  {{ $.Scratch.Add "detail" $config.detail }}

  <head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8
      ]><script src="{{ .Site.BaseURL }}js/ie/html5shiv.js"></script
    ><![endif]-->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
    <!--[if lte IE 8
      ]><link rel="stylesheet" href="{{ .Site.BaseURL }}css/ie8.css"
    /><![endif]-->
    <!--[if lte IE 9
      ]><link rel="stylesheet" href="{{ .Site.BaseURL }}css/ie9.css"
    /><![endif]-->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css" />
    <link
      rel="icon"
      type="image/png"
      href="{{ .Site.BaseURL }}img/logos/epfl-logo-2019-square.png"
    />
  </head>
  <body>
    <!-- Header -->
    <div id="header">
      <div class="top">
        <div>
          <a href="{{ .Site.BaseURL }}"
            ><img
              class="epfl-logo"
              src="{{ .Site.BaseURL }}img/logos/epfl-logo-2019.png"
          /></a>
        </div>

        <!-- Logo -->
        <div id="logo">
          <!--<span class="image avatar48"><img src="{{ .Site.BaseURL }}img/epfl-logo.png" alt="" /></span>-->
          <h1 id="title">{{ .Site.Title }} {{ $year }}</h1>
          <p>{{ $dates }}</p>
          <p>EPFL, INF 1</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li>
              <a href="#top" id="top-link" class="skel-layers-ignoreHref"
                ><span class="icon fa-home">Start</span></a
              >
            </li>
            <li>
              <a
                href="#overview"
                id="overview-link"
                class="skel-layers-ignoreHref"
                ><span class="icon fa-th">Overview</span></a
              >
            </li>
            <li>
              <a
                href="#registration"
                id="registration-link"
                class="skel-layers-ignoreHref"
                ><span class="icon fa-pencil-square-o">Registration</span></a
              >
            </li>
            <li>
              <a
                href="#program"
                id="program-link"
                class="skel-layers-ignoreHref"
                ><span class="icon fa-calendar">Program</span></a
              >
            </li>
            <li>
              <a
                href="#speakers"
                id="speakers-link"
                class="skel-layers-ignoreHref"
                ><span class="icon fa-users">Speakers</span></a
              >
            </li>
            <li>
              <a
                href="#organizers"
                id="organizers-link"
                class="skel-layers-ignoreHref"
                ><span class="icon fa-institution">Organizers</span></a
              >
            </li>
            <li>
              <a
                href="#directions"
                id="directions-link"
                class="skel-layers-ignoreHref"
                ><span class="icon fa-map-marker">Directions</span></a
              >
            </li>
            <li>
              <a
                href="#archive"
                id="archive-link"
                class="skel-layers-ignoreHref"
                ><span class="icon fa-list">Archive</span></a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div class="bottom">
        <!-- Social Icons -->
        <ul class="icons">
          <!-- <li><a href="{{ .Site.Social.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
          <!-- <li><a href="mailto:{{ .Site.Social.mail }}" class="icon fa-envelope"><span class="label">Email</span></a></li>-->
        </ul>
      </div>
    </div>

    <!-- Main -->
    <div id="main">
      <!-- Intro -->
      <section
        id="top"
        class="one dark cover"
        style="
          background-image: url('../img/covers/cover2023.jpg');
          color: white;
        "
      >
        <div class="container" class="dark">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </section>

      <!-- Overview -->
      <section id="overview" class="two">
        <div class="container">
          <header>
            <h4>EPFL School of Computer and Communication Sciences</h4>
            <h2>{{ .Site.Title }} {{ $year }}</h2>
            <h4>{{ $config.subtitle }}</h4>

            <p>{{ $dates }}</p>
          </header>

          <div class="alert">
            <p>
              New location at <br />
              INF 1
            </p>
          </div>

          <div class="zoom">
            <h1>Also available on zoom:</h1>
            <p>
              Send us an email at
              <a href="mailto:c4dt@epfl.ch">c4dt@epfl.ch</a> and we will send
              you the link
            </p>
          </div>

          <header>
            <h2>Overview</h2>
          </header>
          <main>
            <p>
              The <strong>Summer Research Institute (SuRI)</strong> is an annual
              event that takes place at the
              <a href="https://www.epfl.ch/schools/ic/"
                >School of Computer and Communication Sciences</a
              >
              of the
              <a href="https://www.epfl.ch/fr/"
                >École polytechnique fédérale de Lausanne</a
              >, Switzerland. The workshop brings together researchers and
              experts from academia and industry for research talks and informal
              discussions.
            </p>

            <p>
              The event is <strong>open to everyone</strong> and attendance is
              <strong>free of charge</strong>.<br />
              In case you plan to attend SuRI {{ $year }}, please register to
              facilitate the event's organization. The registration deadline is
              June 15th 2023.
            </p>
          </main>
          <footer>
            <a href="#" class="button disable">Registration is closed</a>
            <a href="#" class="button disable"
              >Phd student fellowship applications are closed</a
            >
          </footer>
        </div>
      </section>

      <!-- Program -->
      <section id="program" class="four">
        <div class="container">
          <header>
            <h2>Program (Overview)</h2>
          </header>
          <main>
            {{ $.Scratch.Add "path" $talks }} {{ partial "talks.html" . }}
          </main>
        </div>
      </section>

      <!-- Abstracts -->
      <section id="abstracts" class="two">
        <div class="container">
          <header>
            <h2>Detailed Program</h2>
          </header>
          <main>
            {{ $.Scratch.Set "path" $details }} {{ partial "talks-detail.html" .
            }}
          </main>
        </div>
      </section>

      <!-- Speakers -->
      <section id="speakers" class="four">
        <div class="container">
          <header>
            <h2>Speakers</h2>
          </header>
          <main>
            {{ $.Scratch.Set "path" $speakers }} {{ partial "people.html" . }}
          </main>
        </div>
      </section>

      <!-- Organizers -->
      <section id="organizers" class="two">
        <div class="container">
          <header>
            <h2>Organizers</h2>
          </header>
          <main>
            {{ $.Scratch.Set "path" $organizers }} {{ partial "people.html" . }}
          </main>
        </div>
      </section>

      <!-- Directions -->
      <section id="directions" class="three">
        <div class="container">
          <header>
            <h2>Directions</h2>
          </header>
          <main>
            <p>
              If you're flying in,
              <a href="http://www.gva.ch/en/desktopdefault.aspx"
                >Genève-Cointrin</a
              >
              is the nearest international airport. By train, it takes ~45
              minutes to reach Lausanne. Zürich Airport is about ~2.5 hours away
              by train. To get information on train schedules, please see the
              <a href="https://www.sbb.ch/en/">Swiss Rail website</a>.
            </p>
            <p>
              To reach the SuRI venue from the EPFL M1 metro station, please
              check the map below.
            </p>
            <div class="map-container">
              <iframe
                src="https://map.geo.admin.ch/embed.html?lang=en&topic=ech&bgLayer=ch.swisstopo.swissimage&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bav.haltestellen-oev,ch.swisstopo.swisstlm3d-wanderwege,ch.astra.wanderland-sperrungen_umleitungen,KML%7C%7Chttps:%2F%2Fpublic.geo.admin.ch%2Fapi%2Fkml%2Ffiles%2FpgAmFV1KSmySCgvbTPeglg&layers_opacity=1,1,1,0.8,0.8,1&layers_visibility=false,false,false,false,false,true&layers_timestamp=18641231,,,,,&E=2533047.94&N=1152495.10&zoom=10"
                width="400"
                height="300"
                frameborder="0"
                style="border: 0"
                allow="geolocation"
              ></iframe>
            </div>
          </main>
        </div>
      </section>

      <!-- Archive -->
      <section id="archive" class="four">
        <div class="container">
          <header>
            <h2>Archive</h2>
          </header>
          <main>{{ partial "past.html" . }}</main>
        </div>
      </section>

      <!-- Final Image Section -->
      <section
        id="top"
        class="one dark cover background"
        style="background-image: url('../img/covers/epfl-aerial-2.jpg')"
      >
        <div class="container">
          <p></p>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <div id="footer">
      <!-- Copyright -->
      <ul class="copyright">
        <li>
          &copy; <a href="https://epfl.ch">EPFL</a> {{ $year }}. All rights
          reserved.
        </li>
        <li>Design adapted from <a href="http://html5up.net">HTML5 UP</a></li>
        <li>
          Created by
          <a href="mailto:philipp.jovanovic@epfl.ch">Philipp Jovanovic</a>
        </li>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/jquery.scrolly.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/jquery.scrollzer.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/skel.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/util.js"></script>
    <!--[if lte IE 8
      ]><script src="{{ .Site.BaseURL }}js/ie/respond.min.js"></script
    ><![endif]-->
    <script src="{{ .Site.BaseURL }}js/main.js"></script>
  </body>
</html>
